/*
 | SETTINGS: base font size, colour palettes
 */
@import 'settings/font';

/*
 | TOOLS: mixins and functions
 */
@import 'tools/boxsizing';
@import 'tools/noselect';

/*
 | ELEMENTS: Base styling for unclassed HTML elements (h1, anchor, etc.)
 */
@import 'elements/body';

/*
 | COMPONENTS
 */
@import 'components/app.scss';
@import 'components/list.scss';
@import 'components/listitem.scss';